@model IEnumerable<pjtCidadedeira.Models.PorComentario>
@{
    ViewBag.Title = "ComentarioPorPeriodo";
}

<h2>Comentario Por Periodo</h2>
@using (Html.BeginForm())
{
    <p>
        @Html.RadioButton("opcao", "categoria") Por Categoria
        @Html.RadioButton("opcao", "bairro") Por Bairro
        @Html.RadioButton("opcao", "data") Por Data
        <br />
        
        <input type="submit" value="Buscar" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.Label("Quantidade")
        </th>

        <th>
            @Html.DisplayNameFor(model => model.propriedade)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.ComentarioCount
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.propriedade)
            </td>


        </tr>
    }

</table>