@model IEnumerable<pjtCidadedeira.Models.PorStatus>
@{
    ViewBag.Title = "PorcentagemPorStatus";
}

<h2>Porcentagem Por Status</h2>

@using (Html.BeginForm())
{
    <p>
        @Html.RadioButton("opcao", "categoria") Por Categoria
        @Html.RadioButton("opcao", "bairro") Por Bairro
        <br />
        Categoria: @Html.TextBox("search")
        <input type="submit" value="Buscar" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.Label("Quantidade")
        </th>

        <th>
            @Html.DisplayNameFor(model => model.propriedade)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.StatusCount %
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>

        </tr>
    }

</table>