@model IEnumerable<pjtCidadedeira.Models.Comentario>

@{
    ViewBag.Title1 = "Index";
}


<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
            <!-------- ---->
            <h4><b>Comentários</b></h4>
            @foreach (var item in Model)
            {
                <div class="conjunto">
                    <div id="usuario">
                        @Html.DisplayFor(modelItem => item.Usuario.User)
                    </div>
                    <div id="conteudo">
                        @Html.DisplayFor(modelItem => item.descricaoComentario)
                        <div id="img">
                            @Html.DisplayFor(modelItem => item.LinkImagem)
                        </div>
                    </div>
                   <div id="rodape">
                       <button type="button" class="btn btn-default comentarioEditar" data-id="@item.ComentarioID">
                           Editar
                       </button>
                       <button type="button" class="btn btn-default comentarioDeletar" data-id="@item.ComentarioID">
                           Deletar
                       </button>
                       
                       <span class="dt">
                           @Html.DisplayFor(modelItem => item.Data)
                       </span>
                   </div>
                </div>
            }

            <!------------>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default comentarioNovo" data-dismiss="modal"> Adicionar Comentario </button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<div class="modal" id="modal">

</div>
@section scripts{
    <script>
          $(function () {
              $(".comentarioNovo").click(function () {
                  $("#modal").load("../../Comentarios/Create", function () {
                      $("#modal").modal();
                  })
              });

              $(".comentarioEditar").click(function () {
                  var id = $(this).attr("data-id")
                  $("#modal").load("../../Comentarios/Edit?id=" + id, function () {
                      $("#modal").modal();
                  })
              });

              $(".comentarioDeletar").click(function () {
                  var id = $(this).attr("data-id")
                  $("#modal").load("../../Comentarios/Delete?id=" + id, function () {
                      $("#modal").modal();
                  })
              });

          });
          $('.conjunto').each(function (i) {
              if (i % 2 == 0) {
                  $(this).css("background-color", "#ddd");
              } else {
                  $(this).css("background-color", "#fff");
              }
          });
          $(".dt").css("padding-left", "45%");
       </script>
}
