@model pjtCidadedeira.Models.Reclamacao

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Reclamacao</h4>
    <hr />
    <dl class="dl-horizontal">
       <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkImagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkImagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Endereco.Logradouro)
        </dd>
    </dl>
   <button class="comentario" data-id="@Model.ReclamacaoID" >
    Comentarios
   </button>
</div>

<div class="modal" id="modal">

</div>
@section scripts{
<script>
      $(function () { 
          $(".comentario").click(function () {
              var id = $(this).attr("data-id")
              $("#modal").load("../../Comentarios/Index?id="+id, function () {
                  $("#modal").modal();
              })
          });
      });
</script>
    }