@model pjtCidadedeira.Models.Reclamacao

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
       <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.Label("Descrição")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.Label("Imagem")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkImagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.Label("Usuario")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.User)
        </dd>
        <dt>
            @Html.Label("Endereço")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Endereco.Logradouro)
        </dd>
    </dl>
   <button class="btn btn-default comentario" data-id="@Model.ReclamacaoID" >
    Comentários
   </button>
    <button  class="btn btn-default">
       
        @Html.ActionLink("Retornar para lista", "Index")
    </button>
</div>

<div class="modal" id="modal">

</div>
@section scripts{
    <script>
          $(function () { 
              $(".comentario").click(function () {
                  var id = $(this).attr("data-id")
                  $("#modal").load("../../Comentarios/Index?id="+id, function () {
                      $("#modal").modal();
                  })
              });
          });
    </script>
}