@model IEnumerable<pjtCidadedeira.Models.Reclamacao>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nova Reclamação", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Pesquisar Por Reclamação: @Html.TextBox("Search")
        <input type="submit" value="Buscar" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LinkImagem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LinkImagem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco.Logradouro)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ReclamacaoID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.ReclamacaoID }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.ReclamacaoID })
        </td>
    </tr>
    
}

</table>
