@model pjtCidadedeira.Models.Usuario

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<section id="loginForm">
    @using (Html.BeginForm("Login", "Usuarios", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
        @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.User, "Usuário", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.User, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.User, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Senha, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.Senha, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                    </div>
                </div>
                <!----div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            Html.CheckBoxFor(m => m.RememberMe)
                            Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div -->
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Entrar" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Registrar novo usuario", "Create")
                </p>
               
    }
</section>



